openpyxl
gigachat
groq
google-generativeai
openai
tkinterdnd2
docxtpl
docx2pdf
PyPDF2
pymupdf
Pillow
tqdm
pywin32; platform_system == "Windows"
appdirs

# Optional for packaging (project contains a PyInstaller hook)
# pyinstaller
